{% extends "layout.html"%}
{% block body %}
        <table class="table">
           <thead >
            <th scope="col">name</th>
             <th scope="col">Balance</th>
             <th scope="col"></th>
           </thead>
           <tbody>
            {% for customer in customers%}
            <tr>
                <td>
                    {{customer.first_name}}
                </td>
                <td>
                    {{customer.balance}}
                </td>
                <td>
                    <a href="{% url 'finance:transfer' customer.id %}" > Transfer Money
                    </a>
                </td>
            </tr>
         
           {%endfor%}
           </tbody>
            
        </table>
{% endblock%}