{% extends 'home.html' %}
{% block section %}

    <div class="flex-column text-center">
        <div>
            <h1>About me</h1>
            <h2>Who am I?</h2>
            <p>A pharmacist and software developer, I possess the facilities to develop software applications that can be reached from any device through a web server or ssh server. 
                I am enrolled in a master's degree in business administration from the Arab academy which assisted me to design and develop the business-related system.
            </p>
            <h2>What types of applications can I develop?</h2>
            <p>Desktop and Web applications. Both can be connected to a central database and can integrate efficiently</p>
        </div>
        <div class="my-1"><img id='bodyimg'src="../static/imges/Rectangle 44.png" class="aboutimg"></div>

</div>
{% endblock %}