{% extends 'home.html' %}
{% block section %}

    <!-- <div class="flex">
        <input id='drug-name'type="text" autofocus placeholder="search example: cat fast sachet" ></input>
    </div> -->
    <div class="option-container">
        {% for option in options%}
       
        <label class="option-label">
            {% if option == "Name" %}
            <input name="option" type="radio" value="{{option}}" checked='checked'><span>{{option}}</span>
            {% else %}
            <input name="option" type="radio" value="{{option}}"><span>{{option}}</span>
            </label>
            {% endif%}
       
        </label>
        {% endfor %}
    </div>

<table id=drug-table>

</table>

{% endblock %}