<!DOCTYPE html>
<html lang="eng">
<head>
    <!-- <link rel='stylesheet' href='../static/home.css'> -->
    <link rel='stylesheet' href="{{ url_for('static', filename='home.css', version='1.32') }}">
    <link rel='stylesheet' href="{{ url_for('static', filename='general.css', version='1.32') }}">
    <!-- <link rel='stylesheet' href='../static/general.css'> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type=text/javascript src="{{ url_for('static', filename='script.js', version='1.3') }}"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="  crossorigin="anonymous"></script> -->
    <title>IM</title>
</head>
<body >
    <header>
        <div class="icons">
            <button id="navbtn">
            <picture>
                <source srcset="../static/imges/Icon feather-menu-dark.png" media="(prefers-color-scheme: dark)">
                <img  id="settingico" src="../static/imges/Icon feather-menu.png"  alt="Menu">
            </picture>
        </button>
            <h1 id='logo'>IM</h1>
        </div>
        {{header|safe}}
        <div class='flex-column ms-1'>
            <img src="../static/imges/Icon awesome-{{page}}.png">
            
            <span id="header-title">{{page}}</span>
        </div>
        
    </header>

    <main>
        <nav class="sidenav">
            <ul>
                <li ><a {% if request.path == '/' %}id="active"{% endif %} href="/">Home</a></li>
                <li><a {% if request.path == '/about' %}id="active"{% endif %} href="about">About</a></li>
                <li><a {% if request.path == '/contact' %}id="active"{% endif %} href="contact">Contact US</a></li>
                <li><a {% if request.path == '/drug-finder' %}id="active"{% endif %} href="drug-finder">Drug Finder</a></li>
            </ul>
                
        </nav>

        <section class="body-container">
            {% block section %}{% endblock %}
                
        </section>
    </main>
    
</body>
<footer>
    <div class="footcontainer">
        <div>
            <h1 id='logo'>IM</h1>
            <h3 class="md">Copyright &copy; 2021</h3>
        </div>
        <nav class="foot" >
            <ul >
                <li ><a {% if request.path == '/' %}id="active"{% endif %} href="/">Home</a></li>
                <li><a {% if request.path == '/about' %}id="active"{% endif %} href="about">About</a></li>
                <li><a {% if request.path == '/contact' %}id="active"{% endif %} href="contact">Contact US</a></li>
                <li><a {% if request.path == '/drug-finder' %}id="active"{% endif %} href="drug-finder">Drug Finder</a></li>
                    
            </ul>
        </nav>
        <div class="social">
            <div class='links'>
                <a href="https://www.facebook.com/IMFSDEG" target="_blank"><img src="../static/imges/Icon zocial-facebook.png" alt=""></a>
                <a href="#"><img src="../static/imges/Icon awesome-whatsapp.png" alt=""></a>
            </div>
            <img src="../static/imges/Icon awesome-mobile-alt.png"> <span>+201067862679</span>
        </div>
        

    </div>
</footer>
</html>